<br /><article class='media box'>
  <div class='media-content'>
    <div class='content'>
      <p>
        <strong>{{title}}</strong>
        <small>@{{user.username}}</small>
        <small>{{format_date created_at}}</small>
        <br />
        {{content}}
      </p>
    </div>
    <nav class='level is-mobile'>
      <div class='level-left'>
        <a href='/post/{{id}}' class='level-item'>
          <span class='material-symbols-outlined'>reply</span>
        </a>
      </div>
    </nav>
  </div>
</article>